@import "tailwindcss";

@theme {
  --color-barber-dark: #161616;
  --color-barber-darker: #0a0a0a;
  --color-barber-gold: #C59D5F;
  --color-barber-goldHover: #A6824B;
  --color-barber-grayText: #A3A3A3;
}

body {
  background-color: var(--color-barber-dark);
  color: #ffffff;
}